<h2>Sign Up</h2>
</br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%# Email %>
  
  <div class="field">
    <%= f.email_field :email, class:"form-control", placeholder:"Email", autofocus: true, autocomplete: "email" %>
  </div>

  <%# Password %>

  <div class="field">
    <% if @minimum_password_length %>
    <% end %><br />
    <%= f.password_field :password, class:"form-control", placeholder:"Password (minimum 6 characters)", autocomplete: "new-password" %>
  </div>

  </br>
  
  <%# Password Confirmation %>

  <div class="field">
    <%= f.password_field :password_confirmation, class:"form-control", placeholder:"Password confirmation", autocomplete: "new-password" %>
  </div>

  </br>

  <%# Sign Up Button %>

  <div class="actions">
    <%= f.submit "Sign up", class:"btn btn-secondary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
