<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
   
    <%= form.text_field :title_name, class:"form-control", placeholder:"Title"%>
  </div>

  <div class="mb-3">
    
    <%= form.text_field :author_name, class:"form-control", placeholder:"Author" %>
  </div>

  <div class="mb-3">
    
    <%= form.text_field :comment, class:"form-control", placeholder:"Comment"%>
  </div>

  <div>
    <%= form.submit class:'btn btn-success' %>
  </div>
<% end %>
