<p style="color: green"><%= notice %></p>

<%= render @book %>

<div>
  <%= link_to "Edit this book", edit_book_path(@book), class:"btn btn-secondary" %> 
  <%= link_to "Back to books", books_path, class:"btn btn-success" %>
  </br></br>
  <%= button_to "Delete this book", book_path(@book), class: "btn btn-danger", method: :delete %>
</div>

